@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Karla', sans-serif;

}

.active{
    color: rgb(80, 80, 80);
    
}

nav > div > ul >  li:hover{
    transition: all 0.5s;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.453);
}
