@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla", sans-serif;
}

.active {
  color: rgb(116, 116, 116);
}

nav > div > ul > li {
  transition: all 0.3s;
}

nav > div > ul > li:hover {
  transform: scale(1.2);
}

#feedback {
  animation-name: notification;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes notification {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100;
  }

  100% {
    opacity: 0;
    display: block;
  }
}
